
ng-sidebar-content {
  height: 100vh;
}
ng-sidebar-container{
  height: 100vh;
}

.loading {
  padding: 1em;
}

demo {
  height: 100%;
  width: 100%;
}


.header {
  align-items: center;
  background: DarkSlateBlue;
  box-shadow: 0 0.1em 1.5em rgba(40,40,40, 0.5);
  color: white;
  display: flex;
  padding: 1em;
}

.header__toggle {
  background: transparent;
  border: 0.15rem solid white;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  font-size: 0;
  height: 1.5rem;
  margin-right: 1rem;
  position: relative;
  width: 2rem;
}
.header__toggle::after {
  background: white;
  content: '';
  height: 0.15rem;
  left: 0;
  margin-top: -0.075rem;
  position: absolute;
  top: 50%;
  width: 100%;
}

.sidebar {
  background-color: #fff;
  padding: 2em 1em;
  height: 100%;
  width: 30vw;
}
.sidebar.ng-sidebar--opened.ng-sidebar--over {
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}


.demo-contents {
  padding: 0 2em;
}

.wide {
  margin-left: 0;
}

.narrow {
  margin-left: 30vw;
}

